/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

img {

  height: 300px;
  width: 300px;
  border-radius: 50%;

}

h1 {

  text-align: center;
  font-family: 'Inter', sans-serif;
}

h1 span {

  font-weight: 100;

}

/* ******************************** */