/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F1F1F1F1;
}

img {

  height: 300px;
  width: 300px;
  border-radius: 100%;

}

h1 {

  text-align: center;
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px;

}

h1 span {

  font-weight: 100;

}

/* Desktop */

@media only screen and (min-width: 521px) and (max-width: 1920px) {
  .container {
    display: flex;
    align-items: center;
  }

  img::after {
    content: "Simon Lohmann";
  }
}



/* ******************************** */